
<div class="container">
<form>
    <label for="signup" >Sign Up</label>
    <input type="text" name="text" placeholder="Enter your name" id="signup" [(ngModel)]="signupOpj.userName" autocomplete="given-name">
    <input type="email" name="email" placeholder="Enter your Email" [(ngModel)]="signupOpj.Email" autocomplete="off">
    <input type="password" name="password" placeholder="Enter Password"[(ngModel)]="signupOpj.Password" autocomplete="off">
    <button (click)="onSignUp()">Sign Up</button>
</form>
</div>
