<div class="navbar">
<div class="logo">
    
    
    <ul>
        <a  routerLink="/community-component" routerLinkActive="active" ariaCurrentWhenActive="page">Community</a>
        <a  routerLink="/diving-center-component" routerLinkActive="active" ariaCurrentWhenActive="page">Diving Centers</a>
        <a  routerLink="/organizations-component" routerLinkActive="active" ariaCurrentWhenActive="page">Organizations</a>
        
    </ul>
    
</div>
    <div class="header">
        <h1>Diving community</h1><img src="/assets/image/silhouette.png" alt="" height="280px">
        <p>you can build your adventer by choose you country vecation and </p>
        <button>Make Your Adventuer For 3$</button>
        
    </div>
</div>
